/* You can add global styles to this file, and also import other style files */
html {
  font-size: 10px;
}

body {
  font-size: 16px;
  margin: 0;
}

* {
  --orxe-color: inherit;
  --orxe-color-primary: white;
  --orxe-color-secondary: white;
  --orxe-bg-color-primary: #128020;
  --orxe-bg-color-secondary: #037fb0;
  --orxe-border-radius: 4px;
  --orxe-text-align: center;
  --orxe-display: inline-block;
  --orxe-font-size-primary: 16px;
  --orxe-font-family-primary: lato, Open-sans, sans-serif;
  --orxe-padding-primary: 12px 16px;
  --orxe-margin-primary: 0px;
  --orxe-cursor: pointer;
  --orxe-button-width: auto;
  --orxe-webkit-appearance: none;
  --orxe-text-decoration: none;
  --orxe-outline: none;
  --orxe-btn-opacity: 0.5;
  --orxe-border-width-primary: 1px;
  --orxe-border-style-primary: solid;
  --orxe-border-color-primary: #4285f4;
  --orxe-border-width-secondary: 1px;
  --orxe-border-style-secondary: solid;
  --orxe-border-color-secondary: #4285f4;
  --orxe-font-size-xsmall: 0.67em;
  --orxe-font-size-small: 0.8em;
  --orxe-font-size-medium: 1em;
  --orxe-font-size-large: 1.25em;
  --orxe-font-size-xlarge: 1.5em;
  --orxe-font-size-xsuper: 2em;
  --orxe-spacing-small: 0.5em;
  --orxe-bgcolor-danger: red;
  --orxe-bgcolor-success: green;
  --orxe-bgcolor-info: rgb(43, 43, 211);
  --orxe-bgcolor-warning: orange;
  --orxe-color-warning: black;
  --orxe-bgcolor-dark: black;
  --orxe-hover-bgcolor-danger: darkred;
  --orxe-hover-bgcolor-success: darkgreen;
  --orxe-hover-bgcolor-info: darkblue;
  --orxe-hover-bgcolor-warning: darkorange;
  --orxe-hover-bgcolor-dark: rgba(0, 0, 0, 0.651);
  --orxe-input-bg-color: #fff;
  --orxe-input-padding-top: 8px;
  --orxe-input-padding-end: 8px;
  --orxe-input-padding-bottom: 8px;
  --orxe-input-padding-start: 8px;
  --orxe-placeholder-color: initial;
  --orxe-placeholder-font-style: initial;
  --orxe-placeholder-font-weight: initial;
  --orxe-placeholder-opacity: 0.5;
  --orxe-input-top-border-size: 0px;
  --orxe-input-bottom-border-size: 2px;
  --orxe-input-right-border-size: 0px;
  --orxe-input-left-border-size: 0px;
  --orxe-input-border-style: solid;
  --orxe-input-border-color: gray;
  --orxe-input-border-focus-color: #5264ae;
  --orxe-select-padding-top: 8px;
  --orxe-select-padding-end: 8px;
  --orxe-select-padding-bottom: 8px;
  --orxe-select-padding-start: 8px;
  --orxe-select-top-border-size: 0px;
  --orxe-select-bottom-border-size: 2px;
  --orxe-select-right-border-size: 0px;
  --orxe-select-left-border-size: 0px;
  --orxe-select-border-style: solid;
  --orxe-select-border-color: grey;
  --orxe-select-border-focus-color: lightblue;
  --select-option-hover-color: white;
  --select-option-hover-bg-color: #2d42564f;
  --select-option-disabled-color: rgba(0, 0, 0, 0.38);
  --orxe-label-font-size: 14px;
  --orxe-label-color: darkgray;
  --orxe-on-label-focus-color: #596780;
  --orxe-label-floating-position-top: 12px;
  --orxe-label-floating-position-left: 20px;
  --orxe-on-label-focus-size: 14px;
  --orxe-on-label-focus-position-left: 5px;
  --orxe-on-label-focus-position-top: -14px;
  --orxe-input-focus-bottom-border: 1px solid
    var(--orxe-input-border-focus-color);
  --orxe-datepicker-bg-color-primary: #128020;
  --orxe-datepicker-bg-color-secondary: #037fb0;
  --orxe-datepicker-border-radius: 4px;
  --orxe-autocomplete-active-item: #f1f1f1;
  --orxe-autocomplete-list-background: #fbfbfb;
  --orxe-autocomplete-border-bottom: 1px solid #bbbfc5;
  --orxe-autocomplete-subtitle-text-color: #939393;
  --orxe-autocomplete-highlight-color: #000;
  --orxe-autocomplete-font-weight-primary: 400;
  --orxe-autocomplete-font-weight-semi-bold: 700;
}
